<tr class="single_message" id="message">
  <td class="datetime"><%= message.updated_at.strftime("%m/%d %H:%M") %></td>
  <td class="user_name"><%= message.user_name %></td>
  <td class="content"><%= message.content %></td>
</tr>
