<input type="hidden" id="call_chip" value="<%= hand.call_chip %>">
<input type="hidden" id="min_raise_chip" value="<%= hand.min_raise_chip %>">

<div>
  <%= "to call:#{hand.call_chip}, to minimum raise:#{hand.min_raise_chip}" %>
</div>
