<h1>ポーカー部屋</h1>
<p>Find me in app/views/rooms/index.html.erb</p>
<table class="list" id="roomtable">
  <tr>
    <th>ユーザー名</th>
    <th></th>
  </tr>
  <tr>
    <%= select_tag 'user_select_name', options_from_collection_for_select(@users, :id, :name), {:id => 'user_select'} %>
  </tr>
  <tr>
    <th>部屋名</th>
    <th></th>
  </tr>
<% @rooms.each do |room| %>
  <tr>
    <td style="text-align: right"><%= room.name %></td>
    <td><%= button_tag "入室", id: "room_#{room.id}", class: "enter_button" %></td>
  </tr>
<% end %>
</table>

<%= javascript_include_tag 'room_index' %>
