<h1>Chat room <%= @room.name %></h1>
<input type="hidden" id="room_id" value="<%= @room.id %>" data-behavior="room_speaker">

<div id="messages">
  <%= render @messages %>
</div>

<form>
  <label>Say something:</label><br>
  <input type="text" id="input_message" value="test3" data-behavior="room_speaker">
  <input type="button" id="send_message" value="送信" >
</form>
