// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text_messages {
  overflow: scroll;   /* スクロール表示 */ 
  width: 600px;
  height: 200px;
  background-color: #afffcf;
  font-size: 8px;
  td {
    word-break: break-all;
    border: 1px #2b2b2b solid; 
  }
  .datetime {
    width: 60px;
  }
  .user_name {
    width: 60px;
  }
  .content {
    width: 480px;
    font-size: 14px;
  }
} 
